[Unit]
Wants=xorg.target
After=xorg.target

[Service]
ExecStart=/usr/bin/trayer --edge top \
                          --align right \
                          --margin 0 \
                          --SetDockType true \
                          --SetPartialStrut true \
                          --heighttype pixel \
                          --height 16 \
                          --widthtype pixel \
                          --width 96 \
                          --transparent true \
                          --tint 0 \
                          --alpha 0 \
                          --expand true \
                          --padding 0


# widths:
#
# vera=96
# labs=64
# gladys=64
# winona=48
#

[Install]
WantedBy=xmonad.target
