[Unit]
Wants=xorg.target
After=xorg.target

[Service]
ExecStart=/usr/bin/feh --no-fehbg --bg-fill %h/Dropbox/wallpaper/wallpaper-2473668.jpg

[Install]
WantedBy=xinit.target
