[Unit]
Wants=xorg.target
Wants=xinit.target
Wants=xmonad.service
#TODO this is needed to run outside of startx, but doesn't work
#Requires=dbus.socket
AllowIsolate=true

[Install]
Alias=default.target
