[Unit]
#Requires=xorg.target
#After=xorg.target

[Service]
#Environment=PATH=uncomment:to:override:your:PATH
ExecStart=/usr/bin/xmonad
Restart=always
RestartSec=5
