*.hi
*.o

/.gitconfig.local
/.hgrc.local

/*

!/.Xresources
!/.abcde.conf

!/.base16_theme

!/.config/
/.config/*
!/.config/fontconfig/
!/.config/git/
!/.config/htop/
!/.config/base16-shell
!/.config/base16-gnome-terminal
!/.config/base16-xresources
!/.config/taffybar/

!/.elvish/
/.elvish/db
!/.gitconfig
!/.gitignore
!/.gitmodules
!/.hgrc
!/.inputrc

!/.local/
/.local/*
!/.local/bin/
/.local/bin/stack
/.local/bin/status-notifier-watcher
/.local/bin/taffybar
/.local/bin/xmonad
!/.local/share/
/.local/share/*
!/.local/share/git-remote-hg

!/.mplayer/

!/.ncmpcpp/
/.ncmpcpp/error.log

!/.oh-my-zsh
!/.pentadactylrc
!/.screenrc

!/.ssh
/.ssh/*
!/.ssh/config

!/.stack
/.stack/*
!/.stack/global-project
/.stack/global-project/*
!/.stack/global-project/stack.yaml

!/.vim/
/.vim/.netrwhist

!/.vimrc
!/.vimrc_background

!/.xmonad
/.xmonad/*
!/.xmonad/**/*.hs

!/.xinitrc
!/.xsession
!/.xscreensaver

/.zlogin
/.zlogout
/.zpreztorc
/.zprofile
/.zshenv
/.zshrc

