[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git://github.com/dwoffinden/oh-my-zsh.git
[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script
[submodule ".vim/bundle/vim-scala"]
	path = .vim/bundle/vim-scala
	url = git://github.com/derekwyatt/vim-scala
[submodule ".vim/bundle/vim-glsl"]
	path = .vim/bundle/vim-glsl
	url = git://github.com/tikhomirov/vim-glsl
[submodule ".vim/bundle/vim-opencl"]
	path = .vim/bundle/vim-opencl
	url = git://github.com/petRUShka/vim-opencl
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive
[submodule ".vim/bundle/vim-tomorrow-theme"]
	path = .vim/bundle/vim-tomorrow-theme
	url = git://github.com/chriskempson/vim-tomorrow-theme
