[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule ".vim/bundle/vim-scala"]
	path = .vim/bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".vim/bundle/vim-base16"]
	path = .vim/bundle/vim-base16
	url = https://github.com/chriskempson/base16-vim
[submodule ".config/base16-xresources"]
	path = .config/base16-xresources
	url = https://github.com/chriskempson/base16-xresources
[submodule ".zprezto"]
	path = .zprezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule ".config/base16-gnome-terminal"]
	path = .config/base16-gnome-terminal
	url = https://github.com/chriskempson/base16-gnome-terminal.git
[submodule ".vim/bundle/vim-elvish"]
	path = .vim/bundle/vim-elvish
	url = https://github.com/dmix/elvish.vim.git
[submodule ".vim/bundle/vim-ledger"]
	path = .vim/bundle/vim-ledger
	url = https://github.com/ledger/vim-ledger.git
[submodule ".vim/bundle/vim-nix"]
	path = .vim/bundle/vim-nix
	url = https://github.com/LnL7/vim-nix.git
[submodule ".config/kitty/base16-kitty"]
	path = .config/kitty/base16-kitty
	url = https://github.com/kdrag0n/base16-kitty.git
