__pycache__

*.hi
*.o

/.gitconfig.local
/.hgrc.local

/*

!/.Xresources
!/.abcde.conf

!/.base16_theme

!/.config/
/.config/*
!/.config/base16-gnome-terminal
!/.config/base16-shell
!/.config/base16-xresources
!/.config/emacs/
/.config/emacs/auto-save-list/
/.config/emacs/eln-cache/
/.config/emacs/elpa/
!/.config/fontconfig/
!/.config/foot
!/.config/git/
!/.config/htop/
!/.config/kitty/
!/.config/nix
!/.config/sway/
!/.config/swaylock/
!/.config/taffybar/
!/.config/waybar/

!/.elvish/
/.elvish/db

!/.emacs
!/.emacs.el
!/.emacs.d/

!/.gitconfig
!/.github/
!/.gitignore
!/.gitmodules
!/.gnupg/
/.gnupg/*
!/.gnupg/gpg-agent.conf
!/.hgrc
!/.inputrc

!/.local/
/.local/*
!/.local/bin/
/.local/bin/*.py
/.local/bin/hledger
/.local/bin/hledger-ui
/.local/bin/hledger-web
/.local/bin/py*
/.local/bin/sni-cl-tool
/.local/bin/stack
/.local/bin/status-notifier-item-static
/.local/bin/status-notifier-watcher
/.local/bin/taffybar
/.local/bin/taffybar-built
/.local/bin/xmonad
/.local/bin/xmonad-built
!/.local/share/
/.local/share/*

!/.mplayer/

!/.ncmpcpp/
/.ncmpcpp/error.log

!/.pentadactylrc
!/.pre-commit-config.yaml
!/.screenrc

!/.ssh
/.ssh/*
!/.ssh/config

!/.stack
/.stack/*
!/.stack/global-project
/.stack/global-project/*
!/.stack/global-project/stack.yaml
!/.stack/global-project/taffybar

!/.tigrc

!/.vim/
/.vim/.netrwhist

!/.vimrc
!/.vimrc_background

!/.xmonad
/.xmonad/*
!/.xmonad/**/*.hs

!/.xinitrc
!/.xsecurelockrc
!/.xsession
!/.xscreensaver

/.zlogin
/.zlogout
/.zpreztorc
/.zprofile
/.zshenv
/.zshrc
