/.gitconfig.local
/.hgrc.local

/*

!/.Xresources
!/.abcde.conf

!/.config/
/.config/*
!/.config/fontconfig/
!/.config/htop/
!/.config/base16-shell
!/.config/base16-xresources

!/.gitconfig
!/.gitignore
!/.gitmodules
!/.hgrc
!/.inputrc

!/.local/
/.local/*
!/.local/bin/

!/.mplayer/

!/.ncmpcpp/
/.ncmpcpp/error.log

!/.oh-my-zsh
!/.pentadactylrc
!/.screenrc

!/.vim/
/.vim/.netrwhist

!/.vimrc
!/.xmobarrc
!/.xmonad/xmonad.hs
!/.xscreensaver
!/.zsh*
