! URxvt Settings

URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

!URxvt.loginShell: true

URxvt.scrollBar: off
URxvt.visualBell: True

!URxvt.font: xft:Inconsolata-g:size=10
!URxvt.font: xft:Inconsolata:size=10
URxvt.font: xft:Terminus:antialias=false:size=8
!URxvt.font: xft:Deja Vu Sans Mono:size=8

URxvt.fading: 0

! actual transparency, requires compositor
URxvt.depth: 32
URxvt.background: [95]#1d1f21

! Tomorrow Night
! Scheme: Chris Kempson (http://chriskempson.com)
*foreground:   #c5c8c6
*background:   #1d1f21
*cursorColor:  #aeafad
*color0:       #000000
*color1:       #912226
*color2:       #778900
*color3:       #ae7b00
*color4:       #1d2594
*color5:       #682a9b
*color6:       #2b6651
*color7:       #929593
*color8:       #666666
*color9:       #cc6666
*color10:      #b5bd68
*color11:      #f0c674
*color12:      #81a2be
*color13:      #b294bb
*color14:      #8abeb7
*color15:      #ecebec

! Base16 Tomorrow
! Scheme: Chris Kempson (http://chriskempson.com)

!#define base00 #1d1f21
!#define base01 #282a2e
!#define base02 #373b41
!#define base03 #969896
!#define base04 #b4b7b4
!#define base05 #c5c8c6
!#define base06 #e0e0e0
!#define base07 #ffffff
!#define base08 #cc6666
!#define base09 #de935f
!#define base0A #f0c674
!#define base0B #b5bd68
!#define base0C #8abeb7
!#define base0D #81a2be
!#define base0E #b294bb
!#define base0F #a3685a
!
!*.foreground:   base05
!*.background:   base00
!*.cursorColor:  base05
!*.color0:       base00
!*.color1:       base08
!*.color2:       base0B
!*.color3:       base0A
!*.color4:       base0D
!*.color5:       base0E
!*.color6:       base0C
!*.color7:       base05
!*.color8:       base03
!*.color9:       base09
!*.color10:      base01
!*.color11:      base02
!*.color12:      base04
!*.color13:      base06
!*.color14:      base0F
!*.color15:      base07

